@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --foreground2-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255, 1;
  --background-end-rgb: 223, 238, 255, 1;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  background: radial-gradient(
    circle,
    rgb(var(--background-start-rgb)) 0%,
    rgb(var(--background-end-rgb)) 100%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
